body {
    background-color: #040d14;
}

p {
    color: aliceblue;
}

.main {

    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

.economic-changes {
    background-color: #0d1922;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
    padding: 50px;
    margin: 100px;
}

@media only screen and (max-width: 600px) {
    .main {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .economic-changes {
        padding: 30px;
        margin: 50px;
    }
}