body {
    font-family: 'DM Sans', sans-serif;
    font-size: 90%;
    background-color: #040d14;
}

p {
    color: aliceblue;
}

.main {

    width: 100%;
    min-width: 320px;
    height: auto;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.main .economic-icon {
    display: block;
    width: 100%;
    height: 240px;
    margin-left: -10px;
    background-image: url("./assets/icons/economic-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
}
.economic-changes {
    background-color: #0d1922;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 16%);
    padding: 50px;
    margin: 100px;
}
.product--card-title {
    text-align: center;
    margin-top: 10px;
}
@media only screen and (max-width: 600px) {
    .main {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }
    .economic-changes {
        padding: 20px;
        margin: 40px;
    }
}